/* @theme marp */

@import 'gaia';

section {
    background: rgb(252, 235, 217);
    font-size: 32px;
}

section::after {
    font-size: 16px;
    content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

img {
float: right;
margin: 10px;
}